.home {
    &__title {
        padding: 150px 0 100px;
        color: rgb(0, 0, 0);
        font-size: 50px;
        font-weight: 700;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;
        
    }

    &__blocks {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 32px;

        &-link {
            width: 32%;
            height: 400px;
            text-decoration: none;
            position: relative;

            h4 {
                position: absolute;
                left: 30px;
                bottom: 30px;
                color: rgb(255, 255, 255);
                font-size: 32px;
                font-weight: 700;
                line-height: 140%;
                letter-spacing: 0%;
                text-align: left;
            }
            
        }
        &-link:hover {
            background-color: aqua;
            color: red;
        }

        &-first {
            width: 100%;
            height: 400px;
        }

        &-linkSecond {
            width: 66%;
            height: 400px;
            text-decoration: none;
            position: relative;

            h4 {
                position: absolute;
                left: 30px;
                bottom: 30px;
                color: rgb(255, 255, 255);
                font-size: 42px;
                font-weight: 700;
                line-height: 140%;
                letter-spacing: 0%;
                text-align: left;
            }
        }
        &-second {
            width: 100%;
            height: 400px;
        }
    }

}


.home__blocks-link, .home__blocks-linkSecond {
    width: 32%;
    height: 400px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.home__blocks-link:hover, .home__blocks-linkSecond:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.home__blocks-link img, .home__blocks-linkSecond img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}

.home__blocks-link:hover img, .home__blocks-linkSecond:hover img {
    transform: scale(1.1);
}


.home__blocks-first, .home__blocks-second {
    width: 100%;
    height: 100%;
}